{% extends "base.html" %}
{% load i18n %}

{% block title %}Gift Registry - Manage Events{% endblock %}

{% block content %}
<p>
	<p class="helptext">
		Here you can specify events <strong>of your own</strong>, like your birthday or your anniversary.  When the event occurs within <?php echo $OPT["event_threshold"]; ?> days, an event reminder will appear in the display of everyone who shops for you.
		<?php if ($_SESSION["admin"] == 1) echo "<strong>System events</strong> are events which belong to no one -- like Christmas -- and will appear on everyone's display."; ?>
		Marking an item as <strong>Recurring yearly</strong> will cause them to show up year after year.
	</p>
	<?php
}
?>
<p>
	<table class="partbox" width="100%" cellspacing="0">
		<tr class="partboxtitle">
			<td colspan="5" align="center">Events</td>
		</tr>
		<tr>
			<th class="colheader">Event date</th>
			<th class="colheader">Description</th>
			<th class="colheader">Recurring?</th>
			<th class="colheader">System event?</th>
			<th>&nbsp;</th>
		</tr>
		{% for event in events %}
			<tr class="{% cycle 'evenrow' 'oddrow' %}">
				<td>{{ event.eventdate }}</td>
				<td>{{ event.description }}</td>
				<td>{{ event.recurring|yesno }}</td>
				<!-- next row is SYS admin only
					maybe just do this is django admin -->
				<td>{{ event.User }}</td>
				<td align="right">
					<a href="event/edit/{{event.id}}">Edit</a>
					/
					<a href="event/delete/{{event.id}}">Delete</a>
				</td>
			</tr>
		{% endfor %}
	</table>
</p>
<p>
	<a href="event/add">Add a new event</a> / <a href="/">Back to main</a>
</p>
{% endblock %}