{% extends "base.html" %}
{% load i18n %}

{% block title %}Gift Registry - My Shopping List{% endblock %}

{% block content %}
<p>
	<p class="helptext">
		This is a list of all items you have <strong>reserved</strong>.  Once you've bought or decided not to buy an item, remember to return to the recipient's gift lists and mark it accordingly.
	</p>
</p>
<p class="pagetitle">Gift Registry - My Shopping List</p>

<p>
	<table class="partbox" width="100%" cellspacing="0">
		<tr class="partboxtitle">
			<td colspan="5" align="center">My Shopping List</td>
		</tr>
		<tr>
			<th class="colheader"><a href="shoplist.php?sort=recipient">Recipient</a></th>
			<th class="colheader"><a href="shoplist.php?sort=description">Description</a></th>
			<th class="colheader"><a href="shoplist.php?sort=ranking">Ranking</a></th>
			<th class="colheader"><a href="shoplist.php?sort=source">Source</a></th>
			<th class="rcolheader"><a href="shoplist.php?sort=price">Price</a></th>
		</tr>
		{% for item in items %}
			<tr class="{% cycle 'evenrow' 'oddrow' %}">
				<td nowrap>{{ item.fullname }}</td>
				<td>{{ item.description }}</td>
				<td>{{ item.rendered }}</td>
				<td>{{ item.source }}</td>
				<td align="right">
					{% if item.quantity == 1 %}
						${{ item.price }}
					{% else %}
						{{ item.quantity }} @ ${{ item.price }} =  ${{ item.total }}
					{% endif %}
				</td>
			</tr>
			{% if item.comment != "" %}
				<tr class="{% cycle 'evenrow' 'oddrow' %}">
					<td>&nbsp;</td>
					<td colspan="3">
						<i>{{ item.comment }}</i>
					</td>
					<td>&nbsp;</td>
				</tr>
				{% endif %}
{% endfor %}
	</table>
</p>
<p>
	{{ totalItems }} item(s), ${{ totalPrice }}
</p>
<p>
	<a onClick="printPage()" href="#">Send to printer</a>&nbsp;/&nbsp;<a href="index.php">Back to main</a>
</p>
<script language="JavaScript" type="text/javascript">
	function printPage() {
		window.print();
	}
</script>

{% endblock %}
